# Advanced Machine Learning - Assignment 1
### Rohan Rocky Britto - Student ID: 24610990

## Data Analysis

Import required packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Read the raw data file

In [2]:
df = pd.read_csv('../data/raw/train.csv')
df_test = pd.read_csv('../data/raw/test.csv')

C:\Users\rohan\AppData\Local\Temp\ipykernel_9508\2000722632.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/train.csv')

Check the number of observations and features present in the dataset

In [3]:
df.shape

(56091, 64)

Configure the display parameters to view all the columns and rows

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 65)

Check the data types and null values in the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56091 entries, 0 to 56090
Data columns (total 64 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 56091 non-null  object
 1   conf                 56091 non-null  object
 2   GP                   56091 non-null  int64
 3   Min_per              56091 non-null  float64
 4   Ortg                 56091 non-null  float64
 5   usg                  56091 non-null  float64
 6   eFG                  56091 non-null  float64
 7   TS_per               56091 non-null  float64
 8   ORB_per              56091 non-null  float64
 9   DRB_per              56091 non-null  float64
 10  AST_per              56091 non-null  float64
 11  TO_per               56091 non-null  float64
 12  FTM                  56091 non-null  int64
 13  FTA                  56091 non-null  int64
 14  FT_per               56091 non-null  float64
 15  twoPM                56091 non-null  int64
 16  twoPA                56091 non-null  int64
 17  twoP_per             56091 non-null  float64
 18  TPM                  56091 non-null  int64
 19  TPA                  56091 non-null  int64
 20  TP_per               56091 non-null  float64
 21  blk_per              56091 non-null  float64
 22  stl_per              56091 non-null  float64
 23  ftr                  56091 non-null  float64
 24  yr                   55799 non-null  object
 25  ht                   55993 non-null  object
 26  num                  51401 non-null  object
 27  porpag               56091 non-null  float64
 28  adjoe                56091 non-null  float64
 29  pfr                  56091 non-null  float64
 30  year                 56091 non-null  int64
 31  type                 56091 non-null  object
 32  Rec_Rank             17036 non-null  float64
 33  ast_tov              51901 non-null  float64
 34  rimmade              50010 non-null  float64
 35  rimmade_rimmiss      50010 non-null  float64
 36  midmade              50010 non-null  float64
 37  midmade_midmiss      50010 non-null  float64
 38  rim_ratio            46627 non-null  float64
 39  mid_ratio            46403 non-null  float64
 40  dunksmade            50010 non-null  float64
 41  dunksmiss_dunksmade  50010 non-null  float64
 42  dunks_ratio          25298 non-null  float64
 43  pick                 1386 non-null   float64
 44  drtg                 56047 non-null  float64
 45  adrtg                56047 non-null  float64
 46  dporpag              56047 non-null  float64
 47  stops                56047 non-null  float64
 48  bpm                  56047 non-null  float64
 49  obpm                 56047 non-null  float64
 50  dbpm                 56047 non-null  float64
 51  gbpm                 56047 non-null  float64
 52  mp                   56053 non-null  float64
 53  ogbpm                56047 non-null  float64
 54  dgbpm                56047 non-null  float64
 55  oreb                 56053 non-null  float64
 56  dreb                 56053 non-null  float64
 57  treb                 56053 non-null  float64
 58  ast                  56053 non-null  float64
 59  stl                  56053 non-null  float64
 60  blk                  56053 non-null  float64
 61  pts                  56053 non-null  float64
 62  player_id            56091 non-null  object
 63  drafted              56091 non-null  float64
dtypes: float64(49), int64(8), object(7)
memory usage: 27.4+ MB

Check the descriptive details of the features in the dataset

In [6]:
df.describe(include='all')

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,type,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
count,56091,56091,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,55799,55993,51401.0,56091.000000,56091.000000,56091.000000,56091.000000,56091,17036.000000,51901.000000,50010.000000,50010.000000,50010.000000,50010.000000,46627.000000,46403.000000,50010.000000,50010.000000,25298.000000,1386.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56053.000000,56047.000000,56047.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56091,56091.000000
unique,358,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,38,80.0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23929,NaN
top,Army,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jr,7-Jun,1.0,NaN,NaN,NaN,NaN,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06dc8dc2-888e-4941-9106-4798cddfb9d2,NaN
freq,209,2297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14923,5578,2328.0,NaN,NaN,NaN,NaN,56091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
mean,NaN,NaN,23.411973,37.325229,91.858295,18.149265,44.575513,47.676882,5.575376,12.673716,10.848740,20.337819,32.926708,47.152627,0.579696,41.412401,85.319160,0.426941,15.677613,45.616480,0.227449,1.876426,1.715305,37.437150,NaN,NaN,NaN,0.775720,89.328297,4.242936,2014.536557,NaN,53.456363,0.932305,28.066087,47.052490,14.494741,40.523115,0.564080,0.323633,3.836553,4.311618,0.863570,33.254690,103.319021,103.476636,1.438807,82.827595,-2.525068,-1.896939,-0.628129,-2.525672,16.973259,-2.083375,-0.442297,0.770611,1.892593,2.663204,1.073038,0.529475,0.282825,5.775381,NaN,0.009556
std,NaN,NaN,10.090542,28.061897,30.538819,6.204489,18.213813,17.414133,9.480239,10.878099,9.356001,12.226129,36.870041,49.557538,0.268678,43.730858,85.130054,0.193498,21.584619,58.060609,0.190430,5.876399,2.080477,36.813143,NaN,NaN,NaN,1.333574,30.923798,4.610406,3.450911,NaN,27.641745,0.696625,30.144876,47.582825,17.538837,44.401559,0.190824,0.171453,7.943541,8.709568,0.230396,16.651343,10.163752,11.033215,1.064868,65.344533,7.586977,5.184468,4.280805,8.304955,10.623801,6.190166,3.279438,0.738899,1.479148,2.099913,1.171148,0.469152,0.417754,4.953723,NaN,0.097287
min,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,-6.792410,-39.021300,0.000000,2009.000000,NaN,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-1330.060000,-1292.020000,-0.857238,0.043033,-102.186000,-92.593500,-57.459400,-242.523000,0.000000,-141.539000,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000
25%,NaN,NaN,16.000000,9.500000,84.100000,14.500000,40.100000,43.930000,1.800000,8.400000,4.600000,14.800000,4.000000,7.000000,0.500000,5.000000,13.000000,0.375000,0.000000,1.000000,0.000000,0.000000,0.900000,19.400000,NaN,NaN,NaN,-0.170944,79.383600,2.800000,2012.000000,NaN,30.600000,0.459428,4.000000,8.000000,2.000000,6.000000,0.500000,0.250000,0.000000,0.000000,0.818200,20.000000,99.013850,98.083800,0.525770,19.846900,-5.377530,-3.986970,-2.285125,-5.379030,7.307700,-4.426515,-1.728030,0.225800,0.700000,1.000000,0.222200,0.160000,0.000000,1.571400,NaN,0.000000
50%,NaN,NaN,28.000000,35.900000,97.100000,18.100000,47.700000,50.850000,4.300000,11.900000,9.100000,19.100000,20.000000,31.000000,0.660000,27.000000,60.000000,0.460000,5.000000,18.000000,0.275000,0.800000,1.500000,32.800000,NaN,NaN,NaN,0.390392,94.648900,3.800000,2015.000000,NaN,55.400000,0.822562,18.000000,33.000000,8.000000,25.000000,0.580600,0.333300,0.000000,1.000000,1.000000,34.000000,103.671000,103.827000,1.266370,76.607600,-1.817550,-1.333140,-0.576564,-1.788120,16.714300,-1.580380,-0.313051,0.545500,1.633300,2.259300,0.677400,0.424200,0.133300,4.482800,NaN,0.000000
75%,NaN,NaN,31.000000,62.200000,106.900000,21.800000,53.200000,56.060000,8.100000,16.000000,15.100000,24.500000,50.000000,72.000000,0.755000,65.000000,134.000000,0.525000,25.000000,75.000000,0.357000,2.500000,2.200000,47.800000,NaN,NaN,NaN,1.485165,106.589000,5.200000,2018.000000,NaN,77.400000,1.263175,43.000000,73.000000,21.000000,61.000000,0.666700,0.402000,4.000000,5.000000,1.000000,48.000000,108.258500,109.315500,2.170135,134.975000,1.403830,1.013650,1.124280,1.399405,26.314300,0.992335,1.066415,1.111100,2.758600,3.833300,1.533300,0.793100,0.366700,9.069000,NaN,0.000000
max,NaN,NaN,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,100.000000,100.000000,312.000000,374.000000,1.000000,333.000000,678.000000,1.000000,147.000000,394.000000,1.000000,1072.000000,128.300000,1000.000000,NaN,NaN,NaN,8.658190,678.942000,720.000000,2020.000000,NaN,100.000000,14.007605,247.000000,358.000000,222.000000,532.000000,1.000000,1.000000,122.000000,132.000000,1.000000,60.000000,131.461000,144.685000,5.800530,360.572000,685.313000,161.995000,523.319000,269.508000,50.000000,225.485000,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,30.090900,NaN,1.000000

Looking at the values above, we can infer the following:
    <br>&emsp;&emsp;1. Numeric fields do not seem to have any extreme outliers
    <br>&emsp;&emsp;2. yr field is supposed to have only 4 unique values as per the metadata file but it has 7. This indicates possible outliers.
    <br>&emsp;&emsp;3. ht field is supposed to have the height of students but the most common value in it is 7-Jun. This indicates possible outliers.
    <br>&emsp;&emsp;4. type field has only 1 unique value and hence will not help the model
    <br>&emsp;&emsp;5. num and player_id fields can act as identifiers and should not be passed to the model

View the first 5 observations in the dataset

In [7]:
df.head()

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,type,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,15.8,16.3,10,14,0.714,26,68,0.382,13,39,0.333,0.3,1.5,13.1,So,2-Jun,NaN,0.258086,89.3938,2.5,2009,all,NaN,1.823646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.321,108.527,0.893017,49.9644,-4.995140,-1.623360,-3.371780,-4.723150,14.5769,-2.781990,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,7be2aead-da4e-4d13-a74b-4c1e692e2368,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,13.6,19.8,30,45,0.667,56,113,0.496,20,51,0.392,1.0,1.1,27.4,So,4-Jun,NaN,1.334920,100.0660,3.4,2009,all,NaN,1.631621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.078,104.017,1.880030,111.9290,0.593024,1.385490,-0.792469,-0.300196,24.5294,-0.052263,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,61de55d9-1582-4ea4-b593-44f6aa6524a6,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,14.7,15.9,45,67,0.672,67,157,0.427,50,154,0.325,0.0,0.9,21.5,Sr,4-Jun,NaN,2.274070,104.1070,1.7,2009,all,NaN,1.081662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.556,102.154,2.763870,115.0210,0.003161,1.024770,-1.021610,0.665065,33.1852,1.548230,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,13.7,23.8,14,27,0.519,25,63,0.397,28,62,0.452,0.8,1.9,21.6,Sr,4-Jun,NaN,0.552857,93.2086,2.0,2009,all,NaN,0.942830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.858,106.556,1.218710,84.1698,-0.977798,-0.502574,-0.475224,-0.736233,17.9667,-0.342775,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,14f05660-bb3c-4868-b3dd-09bcdb64279d,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,8.2,22.7,64,114,0.561,93,176,0.528,0,0,0.000,1.9,1.3,64.8,Sr,8-Jun,NaN,1.060130,97.8554,3.8,2009,all,NaN,0.491229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.052,100.724,1.992790,128.0280,-1.836060,-1.946040,0.109983,-2.353180,22.9091,-1.684860,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,a58db52f-fbba-4e7b-83d0-371efcfed039,0.0

## Data Processing

Copy the dataframe into a new dataframe for processing

In [8]:
df_cleaned = df.copy()

Move the target variable into a separate list

In [9]:
target = df_cleaned.pop('drafted')

We need to drop couple of features due to the following reasons:
<br>&emsp;&emsp;1. Rec_Rank, dunks_ratio and pick columns have a lot of null values. Filling them up with mean values will lead to deviation from the real world data and hence, I have decided to drop them.
<br>&emsp;&emsp;2. type feature has only 1 unique value and would not help the model in making predictions
<br>&emsp;&emsp;3. num and player_id are identifiers and can lead to overfitting

In [10]:
df_cleaned.drop(['Rec_Rank', 'dunks_ratio', 'pick', 'type', 'num', 'player_id'], inplace=True, axis=1)

Create separate lists of columns with numerical and categorical values

In [11]:
num_cols = list(df_cleaned.select_dtypes('number').columns)
cat_cols = list(set(df_cleaned.columns) - set(num_cols))

View the value count of categorical data before converting it

In [12]:
for col in cat_cols:
    print('Value counts for', col, ': ', df_cleaned[col].value_counts(), '\n')

Value counts for ht :  ht
7-Jun     5578
8-Jun     5498
4-Jun     5363
5-Jun     5353
6-Jun     5126
3-Jun     5125
2-Jun     4648
9-Jun     3988
1-Jun     3539
Jun-00    2984
10-Jun    2491
11-May    1518
10-May    1378
11-Jun    1119
Jul-00     653
9-May      598
8-May      242
-          241
1-Jul      201
7-May       95
2-Jul       88
3-Jul       40
6-May       40
Apr-00      20
0           19
4-Jul       11
5-May        8
6-Jul        7
5-Jul        4
4-May        4
3-May        3
2-May        3
Jr           2
1-May        2
So           1
Fr           1
6'4          1
5-Apr        1
Name: count, dtype: int64

Value counts for yr :  yr
Jr      14923
Fr      14906
So      13252
Sr      12711
0           5
57.1        1
42.9        1
Name: count, dtype: int64

Value counts for team :  team
Army                   209
Air Force              202
Cornell                199
Arkansas Pine Bluff    198
Navy                   196
                      ...
Centenary               40
Winston Salem St.       30
Cal Baptist             25
North Alabama           25
Merrimack               11
Name: count, Length: 358, dtype: int64

Value counts for conf :  conf
ACC     2297
A10     2268
SEC     2199
B10     2123
CUSA    2113
MEAC    2027
Slnd    2008
BE      1977
MAC     1914
SB      1857
SWAC    1775
SC      1770
OVC     1769
BSth    1723
B12     1714
NEC     1690
CAA     1640
MAAC    1638
BSky    1635
Pat     1589
MWC     1589
MVC     1546
Horz    1523
P12     1501
WCC     1491
Ivy     1478
ASun    1463
BW      1435
AE      1394
Sum     1372
WAC     1347
Amer    1047
ind      429
P10      415
GWC      324
Ind       11
Name: count, dtype: int64

Dropping ht feature as it does not have good data

In [13]:
df_cleaned.drop('ht', inplace=True, axis=1)
cat_cols.remove('ht')

Replace abnormalities in yr feature with mode value

In [14]:
valid_yr_values = ['So', 'Sr', 'Jr', 'Fr']
df_cleaned['yr'].replace(list(set(df_cleaned['yr'].unique()) - set(valid_yr_values)),df_cleaned['yr'].mode()[0], inplace=True)

Create a list of columns having null values

In [15]:
null_cols = list(df_cleaned.columns[df_cleaned.isnull().any()])

Replace null values with mean

In [16]:
for col in null_cols:
    df_cleaned[col].fillna(df_cleaned[col].mean(), inplace=True)

Define a function for processing test data

In [17]:
def process_data(df_data):
    df_data.drop(['Rec_Rank', 'dunks_ratio', 'pick', 'type', 'num', 'player_id', 'ht'], inplace=True, axis=1)
    valid_yr_values = ['So', 'Sr', 'Jr', 'Fr']
    df_data['yr'].replace(list(set(df_data['yr'].unique()) - set(valid_yr_values)),df_data['yr'].mode()[0], inplace=True)
    null_cols = list(df_data.columns[df_data.isnull().any()])
    for col in null_cols:
        df_data[col].fillna(df_data[col].mean(), inplace=True)
    return df_data

Import joblib to save models for future use

In [18]:
from joblib import dump

In [19]:
dump(process_data, '../src/models/process_data.joblib')

['../src/models/process_data.joblib']

In [20]:
df_test_cleaned = df_test.copy()
df_test_cleaned = process_data(df_test_cleaned)

We will use Frequency Encoding as they have a lot of values. Transforming categorical features with a lot of values using OneHot Encoding can lead to Dimensionality crisis.

In [21]:
from feature_engine.encoding import CountFrequencyEncoder

In [22]:
freqenc = CountFrequencyEncoder(encoding_method='frequency', variables=cat_cols)

In [23]:
features = freqenc.fit_transform(df_cleaned[cat_cols])
X_test = freqenc.fit_transform(df_test_cleaned[cat_cols])

Scaling the numerical features

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()

In [26]:
features[num_cols] = scaler.fit_transform(df_cleaned[num_cols])
X_test[num_cols] = scaler.fit_transform(df_test_cleaned[num_cols])

In [27]:
dump(freqenc, '../models/freqenc.joblib')
dump(scaler, '../models/scaler.joblib')

['../models/scaler.joblib']

Let us check the class balance in the dataset

In [28]:
target.value_counts()

drafted
0.0    55555
1.0      536
Name: count, dtype: int64

The dataset looks very imbalanced. We will balance it using SMOTE.

In [29]:
from imblearn.over_sampling import SMOTE

In [30]:
sm = SMOTE(random_state=8)

In [31]:
features, target = sm.fit_resample(features, target)

In [ ]:
dump(sm, '../models/sm.joblib')

Train Test Split

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_val, y_train, y_val = train_test_split(features, target, test_size=0.2, random_state=8)

In [35]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(88888, 56)
(22222, 56)
(4970, 56)

In [36]:
print(y_train.shape)
print(y_val.shape)

(88888,)
(22222,)

In [37]:
X_train.to_csv('../data/processed/X_train.csv')
X_val.to_csv('../data/processed/X_val.csv')
X_test.to_csv('../data/processed/X_test.csv')
y_train.to_csv('../data/processed/y_train.csv')
y_val.to_csv('../data/processed/y_val.csv')

## Model Building and Evaluation

Build a base model for comparison

In [38]:
y_base = np.full((len(y_train), 1), y_train.mode())

Evaluate the performance of the base model using AUROC

In [39]:
from sklearn.metrics import roc_auc_score

In [40]:
print(roc_auc_score(y_train, y_base))

0.5

The base model will always return AUROC score of 0.5 as it is always predicting all the observations to be of the same class

We will use Random Forest Classifier as our prediction model and evaluate its performance

In [41]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
model = RandomForestClassifier()

Define a function to fit, predict and print the prediction probability

In [43]:
def fit_predict_proba(model, X_train, y_train, X_val, y_val):
    model.fit(X_train, y_train)
    y_train_pred_prob = model.predict_proba(X_train)[:,1]
    y_val_pred_prob = model.predict_proba(X_val)[:,1]
    print('The AUROC value for the training set is: ', roc_auc_score(y_train, y_train_pred_prob))
    print('The AUROC value for the validation set is: ', roc_auc_score(y_val, y_val_pred_prob))

Save this function for future use

In [44]:
dump(fit_predict_proba, '../src/models/fit_predict_proba.joblib')

['../src/models/fit_predict_proba.joblib']

In [45]:
fit_predict_proba(model, X_train, y_train, X_val, y_val)

The AUROC value for the training set is:  1.0
The AUROC value for the validation set is:  0.9998896230483505

The model seems to be slightly overfitting. Let us adjust some hyperparameters to reduce it

In [46]:
model = RandomForestClassifier(max_depth=5)

In [47]:
fit_predict_proba(model, X_train, y_train, X_val, y_val)

The AUROC value for the training set is:  0.9916719618209557
The AUROC value for the validation set is:  0.9909577786711595

## Testing and submission file preparation

In [48]:
df_submission = pd.DataFrame({})

Add the player ID from the testing dataset to the submission dataframe

In [49]:
df_submission['player_id'] = df_test['player_id']

Add the prediction probability to the drafted column

In [50]:
df_submission['drafted'] = model.predict_proba(X_test)[:,1]

Save the dataframe to a csv file

In [52]:
df_submission.to_csv('../data/processed/submission.csv', index=False)